@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UthmanicHafs1';
  src: url('/fonts/UthmanicHafs1 Ver09.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PDMS_Saleem_QuranFont';
  src: url('/fonts/PDMS_Saleem_QuranFont.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}